@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap'); /*importando as fontes do googlefonts*/

:root{ /*configurando as variáveis*/
    --fonte-titulo: "Passion One", sans-serif;
    --fonte-padrao: "Sriracha", cursive;
}
* { /*configurações globais*/
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
html, body{ /*configurando o html e o corpo*/
    min-height: 100vh; /*usa 100% da view height*/
    background-color: darkgray;
}
header{ /*configurando o cabeçalho*/
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{/*configurando o h1 do cabeçalho*/
    font-family: var(--fonte-titulo);
    font-size: 10vw; /*10% da view whidth*/
    font-variant: small-caps; /*todas as letras maiúsculas com a primeira de cada palavra maior*/
    padding-top: 50px;
}
header > p { /*config. pagagrafo do cabeçalho*/
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header a, footer a{/*config. links do cabeçalho e rodapé*/
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
section{ /*config. geral do section(aplicado a todas as sections)*/
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte-padrao);
    font-size: 3.5vw;
}
section >p{
    padding-bottom: 2em;
}
section.normal{/*section classe normal*/
    background-color: white;
    color: black;
    
}
section.imagem{ /*section classe imagem*/
    background-color: rgb(51,51,51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.562);
    background-size: cover;
    background-attachment: fixed;

}
section.imagem > p {
    background-color: rgba(0, 0, 0, 0.459);
    display: inline-block;
    padding: 10px;
    text-shadow: 1px 1px 0px black;

}
section#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right, center;
}
section#img02{
    background-image: url(imagens/background002.jpg);
    background-position: right, center;

}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}